<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="LearnAutomationTask">
  <test thread-count="5" name="TestNGAssignment">
    <classes>
      <class name="testNGAssignments.TestNGAssignment1"/>
    </classes>
  </test> <!-- TestNGAssignment -->
</suite> <!-- LearnAutomationTask -->
